
/* Basic normalize for the elements on the page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==================== 1. Body styles  ================================ */
body {
    max-height: 100vh;
    font-family: sans-serif;
}

/* ==================== 2. header styles  ================================ */
.site-header {
    background-color: #264653;
    min-height: 10vh;
}

.site-header__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 100%;
    min-height: inherit;
    align-items: center;
}

.site-header__link:link,
.site-header__link:visited {
    color: white;
    flex: 0 0;
    text-decoration: none;
    font-size: 1.3rem;
}

.site-header__link:hover,
.site-header__link:active {
    text-decoration: underline;
    cursor: pointer;
}

.site-header__logo--img {
    margin-left: 2rem;
}

.site-header__contact {
    margin-right: 2rem;
}
/* ==================== 2. main styles  ================================ */
.site-main {
    background-color: #2a9d8f;
    min-height: 60vh;
}

/* ==================== 2. footer styles  ================================ */
.site-footer {
    background-color: #e9c46a;
    min-height: 30vh;
}

/* 3. p styles */
p {
    font-size: 1.5rem;
    color: white;
}